<a href="https://colab.research.google.com/github/tayyaba-mustafa/Python-Practice/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List:**

In [1]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
print(list1)
print(type(list1))

['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool']]
<class 'list'>

**List Length:**

In [2]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
print(len(list1))

6

**Access List Items:**

In [7]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
print(list1[3])
print(list1[-1])
print(list1[0::-1])
print(list1[-2:-4:1])
print(list1[-2:-4:-1])

5.3
[2, 'cool']
['Tayyaba']
[]
['Summer', 5.3]

**Membership Operators in List:**

In [8]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
print(5.3 in list1)
print(3 not in list1)
print("T" in list1)

True
True
False

**Change List Items:**

In [11]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1[1] = "Mustafa"
list1[2:4] = ["Programmer"]
print(list1)

['Tayyaba', 'Mustafa', 'Programmer', 'Summer', [2, 'cool']]

**Add List Items:**

In [13]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]

#Append()
list1.append(["Programmer",30,False])
print(list1)

['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool'], ['Programmer', 30, False]]

In [14]:
#Insert()
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1.insert(1,"Mustafa")
print(list1)

['Tayyaba', 'Mustafa', 10, True, 5.3, 'Summer', [2, 'cool']]

In [15]:
#Extend()
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1.extend(["Programmer",30,False])
print(list1)

['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool'], 'Programmer', 30, False]

**Remove List Items:**

In [16]:
#remove()
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1.remove("Summer")
print(list1)

['Tayyaba', 10, True, 5.3, [2, 'cool']]

In [19]:
#pop()
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1.pop()
print(list1)

['Tayyaba', 10, True, 5.3, 'Summer']

In [20]:
#clear()
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
list1.clear()
print(list1)

[]

In [24]:
#del
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
del list1[3]
print(list1)
del list1

['Tayyaba', 10, True, 'Summer', [2, 'cool']]

**Sort List:**

In [29]:
list4 = ["apple", "8", "Winter", "6.0"] #Ascending Order
list4.sort()
print(list4)

list4.sort(reverse = True) #Descending Order
print(list4)

['6.0', '8', 'Winter', 'apple']
['apple', 'Winter', '8', '6.0']

In [31]:
list2 = ["summer", "winter", "Spring", "autumn", "7", "9"]
list2.sort(key=str.lower)
print(list2)

list2.sort(key=str.upper)
print(list2)

['7', '9', 'autumn', 'Spring', 'summer', 'winter']
['7', '9', 'autumn', 'Spring', 'summer', 'winter']

**Copy List:**

In [33]:
list5 = ["apple", "Banana", "orange", "Apricot"]
list6 = list5
print(list6)
print(id(list5))
print(id(list6))
list5.append("Hello")
print(list5)
print(list6)

['apple', 'Banana', 'orange', 'Apricot']
134443376475200
134443376475200
['apple', 'Banana', 'orange', 'Apricot', 'Hello']
['apple', 'Banana', 'orange', 'Apricot', 'Hello']

In [35]:
list1 = ["Tayyaba",10,True,5.3,"Summer",[2,"cool"]]
copy1 = list1.copy()
print(copy1)
print(id(list1))
print(id(copy1))
list1.append("Programmer")
print(list1)
print(copy1)

['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool']]
134443375691584
134443375698880
['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool'], 'Programmer']
['Tayyaba', 10, True, 5.3, 'Summer', [2, 'cool']]

**Join List:**

In [36]:
#Concatenating through + operator
a = ["apple", "Banana", "orange", "Apricot"]
b = ["apple", "5", "Winter", "4.0"]
print(a+b)

['apple', 'Banana', 'orange', 'Apricot', 'apple', '5', 'Winter', '4.0']

In [37]:
#Using extend() method
a.extend(b)
print(a)

['apple', 'Banana', 'orange', 'Apricot', 'apple', '5', 'Winter', '4.0']

In [39]:
#appending each item using for loop
x = ["apple", "Banana", "orange", "Apricot"]
y = ["apple", "5", "Winter", "4.0"]
for i in y:
  x.append(i)
print(x)

['apple', 'Banana', 'orange', 'Apricot', 'apple', '5', 'Winter', '4.0']

**Count():**

In [40]:
x = ["apple", "Banana",4, "orange", "Apricot",4]
print(x.count(4))

2

**Index():**

In [42]:
x = ["apple", "Banana",4, "orange", "Apricot",4]
print(x.index("apple"))
print(x.index(4))

0
2

**reverse():**

In [48]:
x = ["apple", "Banana",4, "orange", "Apricot",4]
x.reverse()
print(x)

[4, 'Apricot', 'orange', 4, 'Banana', 'apple']

**Nested List:**

In [47]:
student = ["Name" , "Ali" , "Marks" , [54,89,76,34] , ["Pass", "Fail"]]
print(student[2])
print(student[3][1])

Marks
89