<a href="https://colab.research.google.com/github/tayyaba-mustafa/Python-Practice/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON BASICS**

**Python Syntax:**

Python syntax is the **set of rules** for writing Python programs.

In [ ]:
print("Tayyaba")

a = 10
b = 5
print(a+b)

x = "Tayyaba"
y = "Mustafa"
print(x,y)

print("The value of a is",a)

Tayyaba
15
Tayyaba Mustafa
The value of a is 10

**Comments:**

Comments are mainly used to **explain what the code does**.

Comments are used to **make the code more readable**.

Python completely **skips comments during execution**. They do not affect how the code runs.

You can write comments on a **sperate line** or **at the end of a line** of code.

There are two types of comments in Python:



*   Single line comment  **#**
*   Multi-line comment  **''' '''**

In [ ]:
print("Single line Comment")

# This program calculates the area of a rectangle
length = 5  # Length of the rectangle
width = 3   # Width of the rectangle
area = length * width  # Formula to calculate the area
print(area)  # Print the area


"""I'm Tayyaba Mustafa from Faisalabad,Pakistan.
I am currently pursuing a Bachelor's degree in
Computer Science at University of Agriculture,Faisalabad."""

'''I'm Tayyaba Mustafa from Faisalabad,Pakistan.
I am currently pursuing a Bachelor's degree in
Computer Science at University of Agriculture,Faisalabad.'''

print("Multiline Comment ")

Single line Comment
15
Multiline Comment

**Keywords or Reserve words:**

Keywords or reserved words are **special words** in a programming language that have a **fixed meaning** and **purpose**.

These words are **predefined** by the language and **cannot be used for other purposes**, such as naming your variables, functions, or classes.

Following are some keywords in Python:

**False, is, in, Lambda, True, None, if, elif, break, else, continue, class, not, and, or**

In [ ]:
a = "a variable"
is = "Keyword or Reserve word"
print(a)
print(is)

SyntaxError: invalid syntax (<ipython-input-8-75183d47b146>, line 3)

**Python Variables:**

Variables are **containers** for **storing data values**.

A variable is created the moment you first assign a value to it.

There is no need to write the data type of a variable before it.

**Store Data:** A variable holds a value (e.g., a number, a word, or even a list of things).

**Easy to Use:** You just give the variable a name and assign it a value using the = sign.

**Value Can Change:** You can update the value in a variable whenever you want.

In [ ]:
x = 10           # A variable named 'x' stores the number 10
name = "Alice"   # A variable named 'name' stores the word "Alice"
fruits = ["apple", "banana", "cherry"]  # A variable named 'fruits' stores a list

print(x)
print(name)
print(fruits)

x = "iCode"
y = "Guru"
print(x,y)

10
Alice
['apple', 'banana', 'cherry']
iCode Guru

**Rules for assigning name to variable:**

A variable name must start with a **letter** or the **underscore** character.

There must be **no white space** in a variable name.

A variable name **cannot start with a number**.

A variable name can only contain **alpha-numeric characters** and **underscores** (A-z, 0-9, and _ ).

**No special characters** are allowed i.e. @codebettle , Python$ are the invalid variables.

Variable names are **case-sensitive** (age, Age and AGE are three different variables).

In [ ]:
name = "Alice"   # Starts with a letter
_age = 25        # Starts with an underscore

userName = "Emma"    # No space
user_name = "Emma"   # Underscore can replace spaces

user name = "Emma"   # Spaces are not allowed

1name = "John"   # Starts with a number (Not Allowed)

my_var = 100     # Uses letters and an underscore
var123 = 50      # Uses letters and numbers

my-var = 100     # Special character `-` is not allowed
my@var = 50      # Special character `@` is not allowed

age = 20          # Variable name is `age`
Age = 25          # Different variable, name is `Age`
AGE = 30          # Another different variable, name is `AGE`

SyntaxError: invalid decimal literal (<ipython-input-12-b8cd70b33cb2>, line 9)

**Types of variable name cases:**



*   Camel Case

*   Snake Case

*   Pascal Case

**Camel Case:**

In Camel Case, the **first word** is in **lowercase**, and every **subsequent word** starts with an **uppercase** letter.

**Snake Case:**

In Snake Case, **all words** are written in **lowercase** and separated by **underscores** (_).

**Pascal Case:**

In Pascal Case, **every word** starts with an **uppercase letter**, including the first word.

In [ ]:
#Camel Case
myVariableName = "Camel Case"
userAge = 25
totalPrice = 100.5

#Snake Case
my_variable_name = "Snake Case"
user_age = 25
total_price = 100.5

#Pascal Case
MyVariableName = "Pascal Case"
UserAge = 25
TotalPrice = 100.5

print(myVariableName)
print(my_variable_name)
print(MyVariableName)

Camel Case
Snake Case
Pascal Case

**Assigning values to the variable:**



*   Assigning multiple values to multiple variables
*   Assigning one value to multiple variables

**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:
#Multiple values to multiple variables

x , y , z = "Apple" , 20 , 10.3
print(x)
print(y)
print(z)

Apple
20
10.3

**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
#One value to multiple variables

a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Orange
Orange

In [1]:
a = b = c = 5,6
print(a)
print(b)
print(c)

A,B = C = 5,6
print(A)
print(B)
print(C)

(5, 6)
(5, 6)
(5, 6)
5
6
(5, 6)

**Getting Address of a Variable:**

Use **id function** for it.

The **id() function** returns a **unique id** for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the **object's memory address**, and will be different for each time you run the program.

In [ ]:
x = 10
print(x)
print(id(x))

a = 50
b = a
print(a)
print(b)
print(id(a))
print(id(b))

z = "Hello"
print(id(z))

10
10751144
50
50
10752424
10752424
137434793320880

**DataTypes:**

Data types in Python tell us **what kind of data** a variable is storing.

Following are some built-in data types in Python:



*   **Text Type:** str

*   **Numeric Types:** int, float, complex

*   **Boolean Type:** bool
*   **Sequence Types:** list, tuple


*   **Mapping Type:** dict


*   **Set Type:** set


**Type Function:**

The **type() function** is used to find out the **data type of a variable**. It tells you whether the variable is a number, string, list, etc.

In [ ]:
#Text Type:str
a="Hello World!"
print(a)
print("The type of a is",type(a))

Hello World!
The type of a is <class 'str'>

In [ ]:
#Numeric Type:int,float,complex
a=3
b=7.349
c=complex(6,2)
print(a)
print(b)
print(c)
print("The type of a is",type(a))
print("The type of a is",type(b))
print("The type of a is",type(c))

3
7.349
(6+2j)
The type of a is <class 'int'>
The type of a is <class 'float'>
The type of a is <class 'complex'>

In [ ]:
#Boolean Type:bool
n=True
print(n)
print("The type of n is",type(n))

True
The type of n is <class 'bool'>

In [ ]:
#Sequence Types: list, tuple
list1=[8,2.3,[-4,5],["Apple","Banana"]]
print(list1)
print("The type of list1 is",type(list1))

tuple1=("abc",34,True,["Ali",2.3],("Lion","Tiger"))
print(tuple1)
print("The type of tuple1 is",type(tuple1))

[8, 2.3, [-4, 5], ['Apple', 'Banana']]
The type of list1 is <class 'list'>
('abc', 34, True, ['Ali', 2.3], ('Lion', 'Tiger'))
The type of tuple1 is <class 'tuple'>

In [ ]:
#Mapping Type: dict
dict1={"Name":"Tayyaba","Age":21,"canVote":True}
print(dict1)
print("The type of dict1 is",type(dict1))

{'Name': 'Tayyaba', 'Age': 21, 'canVote': True}
The type of dict1 is <class 'dict'>

In [ ]:
#Set Type: set
myset={"apple","banana","cherry"}
print(myset)
print("The type of myset is",type(myset))

{'cherry', 'apple', 'banana'}
The type of myset is <class 'set'>

**Typecasting in Python:**

Typecasting in Python means **changing the type of data** from one type to another.

**Types of Typecasting:**

There are two types of typecasting:



*   Implicit Typecasting (Done by Python Automatically)
*   Explicit Typecasting (You Do It Yourself)

**Implicit Typecasting:**

Python automatically converts one data type to another when it's safe.

**Explicit Typecasting:**

You tell Python to change the data type using specific functions.

In [ ]:
#Implicit Typecasting
x = 5   # int
y = 2.5 # float
result = x + y   # Python converts `x`(int) to float automatically
print(result)
print(type(result))

7.5
<class 'float'>

In [ ]:
#Explicit Typecasting

#float -> int
a = 10.5
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))

#int -> float
b = 10
print(b)
print(type(b))
b = float(b)
print(b)
print(type(b))

10.5
<class 'float'>
10
<class 'int'>
10
<class 'int'>
10.0
<class 'float'>

In [ ]:
#numeric -> String
c = 40
print(c)
print(type(c))
c = str(c)
print(c)
print(type(c))

#String -> numeric ---->Only possible if the string consists of numbers
d = "95.7"
print(d)
print(type(d))
d = float(d)
print(d)
print(type(d))

40
<class 'int'>
40
<class 'str'>
95.7
<class 'str'>
95.7
<class 'float'>

In [ ]:
#Boolean to Numeric
m = True
print(m)
print(type(m))
m = int(m)
print(m)
print(type(m))

#Boolean to String
n = True
print(n)
print(type(n))
n = str(n)
print(n)
print(type(n))

True
<class 'bool'>
1
<class 'int'>
True
<class 'bool'>
True
<class 'str'>

In [ ]:
# Numeric to Boolean
x = 0
print(x)
print(type(x))
x = bool(x)
print(x)
print(type(x))

0
<class 'int'>
False
<class 'bool'>

**Input function:**

The input() function in Python is used to **take input** from the **user** while your program is running.

It allows the user to type something into the program, and you can use that input for further calculations or actions.

In [ ]:
#Input function

marks=input("Enter your marks:")
print(type(marks))

age = int(input("Enter your age: "))
print("your age is: ", age)
print("your age after five years will be: ", age+5)

Enter your marks:70
<class 'str'>
Enter your age: 20
your age is:  20
your age after five years will be:  25

**Operators:**

Operators are used to **perform operations** on variables and values.

Python divides the operators in the following groups:



*   Arithmetic operators

*   Assignment operators

*   Comparison operators

*   Logical operators

*   Membership operators

**Arithmetic Operators:**

Arithmetic operators in Python are used to perform **mathematical calculations** like:

*   Addition +
*   Subtraction -
*   Multiplicatin *
*   Division /
*   Modulus %
*   Exponential **
*   Floor Division //

In [ ]:
#Arithmetic Operators
a = 15
b = 4

#Addition +
print(a+b)

#Subtraction -
print(a-b)

#Multiplication *
print(a*b)

#Division / ---->always gives float
print(a/b)

#Modulus % --->gives reminder
print(a%b)

#Exponential **
print(a**b)

#Floor Division // ----->always gives integer
print(a//b)

19
11
60
3.75
3
50625
3

**Assignment Operators:**

Assignment operators are used to **assign values** to variables.

In [ ]:
#Assignment Operators

x = 3

x += 2
# x -= 2
# x *= 2
# x /= 2
# x %= 2
# x //= 2
# x **= 2
print(x)

5

**Comparison Operators:**

These are used to **compare two variables** with each other.

In [ ]:
#Comparison Operators
'''
">" is greater than

"<" is smaller than

">=" is greater than or equal to

"<=" is smaller than or equal to

"==" is equal to

"!=" is not equal to
'''

a = 4
b = 5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

**Logical operators:**

Python has **three Boolean operators**, or logical operators: and , or , and not.

Logical operators are used to combine conditional statements.

**and** Returns "**True**" if **both statements are true**

**or** Returns "**True**" if **one of the statements is true**

**not** Reverse the result, returns "False" if the result is true

In [ ]:
# Boolean operators or logical operators
'''
->and
->or
->not
'''

x = 5
print(x>5 and x<10)
print(x>5 or x<10)
print(not x<10)

False
True
False

**Membership Operators:**

Membership operators are used to test **if a sequence with the specified value is present in an object.**

**in** Returns "True" if a sequence with the specified value is present in the object.

**not in** Returns "True" if a sequence with the specified value is not present in the object.

In [ ]:
#Membership Operators
'''
->in
->not in
'''

x="Python Programming Language"
y=["Orange", 5, "10.3"]
print("y" in x)
print("Orange" not in y)

True
False

**Identity Operator:**

An identity operator in Python is used to **compare objects** to see if they are the **same** (in terms of **memory location**) or **different**.

It checks if two variables point to the same object in memory.

**is** Returns True if both variables are the same object.

**is not** Returns True if both variables are not the same object.

In [ ]:
#Identity Operator
'''
->is
->is not
'''

a = 10.1
b = 10.1

print(a is b)
print(id(a))
print(id(b))

x = 5
y = x
print(x is y)
print(id(x))
print(id(y))

False
135392375564816
135392375562224
True
135392805618032
135392805618032

**Operator Precedence:**

Operator precedence refers to the **order in which operators are evaluated** in an expression.

When you have multiple operators in one expression, Python follows a **set of rules** to decide which operator to apply first.

The operators with **higher precedence are evaluated before** those with lower precedence.

In [ ]:
#Operator Precedence
'''
->Paranthesis ()

->Exponentiation **

->Unary plus and minus, bitwise NOT (+x, -x, ~x)

->Multiplication , Division , Floor Division and  Modulus (*,/,//,%)

->Addition , Subtraction (+,-)

->Comparison Operators (==, !=, <, >, <=, >=)

->Logical NOT, AND, OR (not, and, or)
'''

print(12 + 5 * (4 - 2))

22