In [2]:
# Python Syntax

print("Tayyaba")

a = 10
b = 5
print(a+b)

x = "Tayyaba"
y = "Mustafa"
print(x,y)

print("The value of a is",a)

Tayyaba
15
Tayyaba Mustafa
The value of a is 10

In [4]:
# Comments

#I'm Tayyaba Mustafa.

print("Single line comment -> #")

"""I'm Tayyaba Mustafa from Faisalabad,Pakistan. 
I am currently pursuing a Bachelor's degree in 
Computer Science at University of Agriculture,Faisalabad."""

'''I'm Tayyaba Mustafa from Faisalabad,Pakistan. 
I am currently pursuing a Bachelor's degree in 
Computer Science at University of Agriculture,Faisalabad. 
'''

print("Multiline comment -> ''' '''")

Single line comment -> #
Multiline comment -> ''' '''

In [6]:
# Keywords or Reserve words

'''
Following are some keywords in Python:

False, is, in, Lambda, True, None, if, elif, break, else, continue, class, not, and, or
'''

a = "a variable"
is = "Keyword or Reserve word"
print(a)
print(is)

SyntaxError: invalid syntax (1644327193.py, line 2)

In [8]:
# Python Variables

a = 5
b = 20.5
print(a)
print(b)
print(a+b)

x = "iCode"
y = "Guru"
print(x,"+",y)

5
20.5
25.5
iCode + Guru

In [9]:
# Types of variable name cases
'''
->Camel Case
->Snake Case
->Pascal Case
'''

camelCaseThird = '100'
snake_case = 5.9
PascalCase = "Python"

print(camelCaseThird)
print(snake_case)
print(PascalCase)

100
5.9
Python

In [11]:
#Assigning values to the variable

#Multiple values to multiple variables

x , y , z = "Apple" , 20 , 10.3
print(x)
print(y)
print(z)

#One value to multiple variables

a = b = c = "Orange"
print(a)
print(b)
print(c)

Apple
20
10.3
Orange
Orange
Orange

In [15]:
# Getting Address of a variable

x = 10
print(x)
print(id(x))

a = 50
b = a
print(a)
print(b)
print(id(a))
print(id(b))

x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

10
140723777672264
50
50
140723777673544
140723777673544
2287705884208
2287706271408

In [17]:
# DataTypes and Type function

#Numeric Type:int,float,complex
a=3
b=7.349
c=complex(6,2)
print(a)
print(b)
print(c)
print("The type of a is",type(a))
print("The type of a is",type(b))
print("The type of a is",type(c))

#Text Type:str
a="Hello World!!"
print(a)
print("The type of a is",type(a))

#Boolean Type:bool
n=True
print(n)
print("The type of n is",type(n))

#Sequence Types: list, tuple
list1=[8,2.3,[-4,5],["Apple","Banana"]]
print(list1)
print("The type of list1 is",type(list1))

tuple1=(("parrot","sparrow"),("Lion","Tiger"))
print(tuple1)
print("The type of tuple1 is",type(tuple1))

#Mapping Type: dict
dict1={"Name":"Tayyaba","Age":21,"canVote":True}
print(dict1)
print("The type of dict1 is",type(dict1))

#Set Type: set
myset={"apple","banana","cherry"}
print(myset)
print("The type of myset is",type(myset))

3
7.349
(6+2j)
The type of a is <class 'int'>
The type of a is <class 'float'>
The type of a is <class 'complex'>
Hello World!!
The type of a is <class 'str'>
True
The type of n is <class 'bool'>
[8, 2.3, [-4, 5], ['Apple', 'Banana']]
The type of list1 is <class 'list'>
(('parrot', 'sparrow'), ('Lion', 'Tiger'))
The type of tuple1 is <class 'tuple'>
{'Name': 'Tayyaba', 'Age': 21, 'canVote': True}
The type of dict1 is <class 'dict'>
{'banana', 'cherry', 'apple'}
The type of myset is <class 'set'>

In [22]:
#Typecasting

#float -> int
a = 10.5
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))

#int -> float
b = 10
print(b)
print(type(b))
b = float(b)
print(b)
print(type(b))

10.5
<class 'float'>
10
<class 'int'>
10
<class 'int'>
10.0
<class 'float'>

In [26]:
#numeric -> String
c = 40
print(c)
print(type(c))
c = str(c)
print(c)
print(type(c))

#String -> numeric ---->Only possible if the string consists of numbers
d = "95.7"
print(d)
print(type(d))
d = float(d)
print(d)
print(type(d))

40
<class 'int'>
40
<class 'str'>
95.7
<class 'str'>
95.7
<class 'float'>

In [31]:
#Boolean to Numeric
m = True
print(m)
print(type(m))
m = int(m)
print(m)
print(type(m))

#Boolean to String
n = True
print(n)
print(type(n))
n = str(n)
print(n)
print(type(n))

True
<class 'bool'>
1
<class 'int'>
True
<class 'bool'>
True
<class 'str'>

In [36]:
# Numeric to Boolean
x = 0
print(x)
print(type(x))
x = bool(x)
print(x)
print(type(x))

0
<class 'int'>
False
<class 'bool'>

In [40]:
#Input function

marks=input("Enter your marks:")
print(type(marks))

age = int(input("Enter your age: "))
print("your age is: ", age)
print("your age after 5 years will be =",age + 5 )

Enter your marks:50
<class 'str'>
Enter your age: 20
your age is:  20
your age after 5 years will be = 25

In [41]:
#Operators

#Arithmetic Operators
a = 15
b = 4

#Addition +
print(a+b)

#Subtraction -
print(a-b)

#Multiplication *
print(a*b)

#Division / ---->always gives float
print(a/b)

#Modulus % --->gives reminder
print(a%b)

#Exponential **
print(a**b)

#Floor Division // ----->always gives integer
print(a//b)

19
11
60
3.75
3
50625
3

In [42]:
#Operator Precedence
'''
->paranthesis ()

->exponentiation **

->multiplication * / division / / f.d// / modulus%

->addition, subtraction +,-
'''

print(12 + 5 * (4 - 2))

22

In [46]:
#Assignment Operators

x = 3

x += 2
# x -= 2
# x *= 2
# x /= 2
# x %= 2
# x //= 2
# x **= 2
print(x)

5

In [47]:
#Comparison Operators
'''
">" is greater than

"<" is smaller than

">=" is greater than or equal to

"<=" is smaller than or equal to

"==" is equal to

"!=" is not equal to
'''

a = 4
b = 5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [49]:
# Boolean operators or logical operators
'''
->and
->or
->not
'''

x = 5
print(x>5 and x<10)
print(x>5 or x<10)
print(not x<10)

False
True
False

In [50]:
#Membership Operators
'''
->in
->not in
'''

x="Python Programming Language"
y=["Orange", 5, "10.3"]
print("y" in x)
print("Orange" not in y)

True
False

In [54]:
#Identity Operator
'''
->is
->is not
'''

a = 10.1
b = 10.1

print(a is b)
print(id(a))
print(id(b))

x = 5
y = x
print(x is y)
print(id(x))
print(id(y))

False
2287705013136
2287705001616
True
140723777672104
140723777672104